@model Framework.Utility.Paging.PagedList<Framework.Core.DTO.BankDTO>
@{
    var count = 1;
}

<span style="display: none" id="total-page">@Model.PageCount</span>
<table class="table datatable-empty table-striped table-bordered" id="member" style="width: 99.9%">
    <thead style="background: gainsboro">
        <tr>
            <th style="width: 80px  !important">No.</th>
            <th style="width: 120px !important">Bank Code</th>
            <th>Bank Name</th>
            <th style="width: 180px !important">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bank in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>@bank.BankCode</td>
                <td>@bank.BankName</td>
                <td class="text-center" style="width: 204px !important">
                    <a href="#" class="btn btn-primary btn-sm"><i class="icon-pencil3"></i> Update</a>
                    <button class="btn btn-danger btn-sm btn-delete" id-value="@bank.Id"><i class="icon-bin"></i> Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>